<div>users index page</div>
<% if  session[:login_uid] %>
    welcome <%= session[:login_uid]%>
<% end %>
<div>
    <%= render 'tweets' %>
</div>
<div>
    <%= link_to 't', '/tweets' ,method: :get %>
</div>
<div>
    <%= render 'signup' %>

</div>
<div> 
    <%= render 'signout' %>
</div>
<div>
    <%= render 'user_list' %>
</div>
